// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-image: url("https://umad.com/img/2016/5/vintage-robot-wallpaper-background-18742-19296-hd-wallpapers.jpg");
    color: Black;
    font-size: 1.1em;
}
h1 {
    color: Black;
    text-align: right;
}
#intro {
    text-align: right;
}

#roundone {
  text-align: right;
}

#welcome {
  text-align: right;
}

p {
  text-align: right;
}
